.footer-section{
    background-color: black;
    color: white;
    text-align: start;

}
.footer-section h2{
    padding-bottom: 8px;
}

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    padding-top: 2rem;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    }

@media screen and (max-width:800px){
    .top-section{
       padding: 2rem 2rem;
    }
    .bottom-section{
        padding: 2rem 2rem;
    }
    
}

@media screen and (max-width:600px){
 .top-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
 }
 .footer-content{
    width: 50%;
    margin-bottom: 1rem;
 }

 .heading-section{
    margin-bottom: 1rem;
 }

}